<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title size="large">Bem vindo(a) ao Ionic News</ion-title>

  <div class="form-container">
    <ion-input
      labelPlacement="floating"
      label="Email"
      fill="outline"
      type="email"
      placeholder="Digite seu email"
      [(ngModel)]="email"
      required
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      label="Senha"
      fill="outline"
      type="password"
      placeholder="Digite sua senha"
      [(ngModel)]="senha"
      required
    ></ion-input>
  </div>
  <br />
  <ion-button expand="block" size="large" shape="round" color="primary" (click)="login()"
    >Entrar</ion-button
  >

  <ion-text class="register-link" color="danger" *ngIf="mensagemErro">
    {{ mensagemErro }}
  </ion-text>

  <ion-text class="register-link">
    Ainda não tem conta?
    <a routerLink="/cadastro">Cadastre-se</a>
  </ion-text>
</ion-content>
