<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title size="large">Crie sua conta</ion-title>

  <div class="form-container">
    <ion-input
      labelPlacement="floating"
      label="Nome"
      fill="outline"
      type="text"
      placeholder="Digite seu nome"
      [(ngModel)]="nome"
      required
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      label="Email"
      fill="outline"
      type="email"
      placeholder="Digite seu email"
      [(ngModel)]="email"
      required
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      label="Senha"
      fill="outline"
      type="password"
      placeholder="Digite sua senha"
      [(ngModel)]="senha"
      required
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      label="Confirme a Senha"
      fill="outline"
      type="password"
      placeholder="Confirme sua senha"
      [(ngModel)]="confirmarSenha"
      required
      ></ion-input>
  </div>
  <br />
  <ion-button
    expand="block"
    size="large"
    shape="round"
    color="primary"
    (click)="cadastrar()">
  Cadastrar
  </ion-button>
  <div *ngIf="mensagemErro" style="color: red; margin-top: 12px;">
      {{ mensagemErro }}
    </div>
    <ion-text class="login-link">
    Já tem conta?
    <a routerLink="/login">Entrar</a>
  </ion-text>
</ion-content>
